<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        TEST
        Menu:
        {% for item in menu %}
        <a href="{{ item.link }}">{{ item.text }}</a>
        {% endfor %}
    </body>
</html>