<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% if success %}
        <div class="alert alert-success w-50">
            {{ success }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger w-50">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        {% endif %}

        <h2>Обновление картинки</h2>
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <p><input type="submit" value="Save changes"></p>
            </form>

        <h2>Смена email</h2>
        <form method="POST" action="{% url 'profile_edit' %}" class="form-group mt-3">
            {% csrf_token %}
            <label for="email" class="h4">Новый email:</label>
            <input type="email" class="form-group-item" required name="email" id="email" value="{{ email }}" requaried>
        <h2>Смена Фамилии и имени</h2>
            <label for="first_name" class="h4">Новое имя:</label>
            <input type="text" class="form-group-item" required name="first_name" id="first_name" value="{{ first_name }}" requaried>
            <label for="last_name" class="h4">Новая фамилия:</label>
            <input type="text" class="form-group-item" required name="last_name" id="last_name" value="{{ last_name }}" requaried>
        <h2>Смена даты рождения(формат: YYYY-MM-DD)</h2>
            <label for="date" class="h4">Новая дата рождения:</label>
            <input type="text" class="form-group-item" required name="date" id="date" value="{{ date }}" requaried>
            <br><br>
            <input type="submit" class="btn btn-primary" value="Сохранить изменения">
        </form>

        <h2>Смена пароля</h2>
        <form method="POST" action="{% url 'profile_edit' %}" class="form-group mt-3" style="width: 36%">
            {% csrf_token %}
            <label for="old_pswd" class="h4">Старый пароль:</label>
            <input type="password" class="form-group-item float-right" id="old_pswd" required name="old_pswd">
            <br><br>
            <label for="new_pswd" class="h4">Новый пароль:</label>
            <input type="password" class="form-group-item float-right" id="new_pswd" required name="new_pswd">
            <br><br>
            <label for="confirm_pswd" class="h4">Подтверждение:</label>
            <input type="password" class="form-group-item float-right" id="confirm_pswd" required name="conf_pswd">
            <br><br>
            <input type="submit" class="btn btn-primary" value="Обновить пароль">
        </form>
    </body>
</html>