<html>
    <head>
        <title>{{ title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    </head>
    <body>
        {% if not photo %}
        {% load static %}
        <img src="{% static 'no_photo.jpg' %}">
        {% else %}
        <img src="{{ photo.url }}">
        {% endif %}
        <p>Username: {{ username }}</p>
        <p>First name: {{ first_name }}</p>
        <p>Last name: {{ last_name }}</p>
        <p>Email: {{ email }}</p>
        <p>Birthday: {{ date }}</p>
    </body>
</html>