<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/login/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Sign in">
        </form>
    </body>
</html>