<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="POST" style="width: 40%;">
        {% csrf_token %}
        <label class="h4">{{ form.user_name.label }}</label>
        {{ form.user_name }}
        <br><br>
        <label class="h4">{{ form.user_first_name.label }}</label>
        {{ form.user_first_name }}
        <br><br>
        <label class="h4">{{ form.user_last_name.label }}</label>
        {{ form.user_last_name }}
        <br><br>
        <label class="h4">{{ form.user_email.label }}</label>
        {{ form.user_email }}
        <br><br>
        <label class="h4">{{ form.password.label }}</label>
        {{ form.password }}
        <br><br>
        <label class="h4">{{ form.password_conf.label }}</label>
        {{ form.password_conf }}
        <br><br>
        <input type="submit" class="btn btn-secondary" value="Зарегистрироваться">

    </form>

    </body>
</html>